main{
    min-height: 80vh;
}

h3{
    padding: 1rem 0;
}

.rating span{
    margin: 0.1rem;
}

.content-product {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.4rem;
}
.gbcolor-gray{
    background-color: #F0F5FA;
}
.border{
    border: solid 1px #dddddd;
}
.LoginScreen{
    font-family: sans-serif;
    text-align: center;
}
.container-login {
   margin: 0 auto;
    max-width: 50%;
}

@media screen and (max-width: 992px) {
    .container-login {
        max-width: 90%;
    }
     
}


.loginform{
    padding: 30px;
}
.form-check{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.form-control{
    margin:3px;
}

.form-check-input{
    width: 20px;
    height: 20px;
}
.text-center{
    text-align: center;
}